body { 
  max-width:750px; 
  background:url('/images/blue_paper.gif');   
  font-family: Verdana, Arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  color: #000000;
  text-decoration: none;
}

td {
}

h1,h2,h3,h4 {
  color: #990000;
}

table {
  border-width: 1px;
  border-spacing: 0px;
  border-style: outset;
  border-color: gray;
  border-collapse: separate;
  background-color: white;
}
th {
  border-width: thin thin thin thin;
  padding: 1px 1px 1px 1px;
  border-style: inset inset inset inset;
  border-color: gray gray gray gray;
  background-color: white;
}
td {
  font-family: Verdana, Arial, sans-serif;
  border-width: thin thin thin thin;
  padding: 1px 1px 1px 1px;
  border-style: inset inset inset inset;
  border-color: gray gray gray gray;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  color: #000000;
  text-decoration: none;
  padding-left: 0.1cm;
  padding-right: 0.1cm;
}

